.sidebar {
  width: 200px;
  height: calc(100vh - 48px);
  background: rgb(204, 231, 154);
  box-shadow: 0 0 5px  #000000;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  transition: 1000ms;
  overflow-x: hidden;
}

.sidebar a {
  text-decoration: none;
  width: 100%;
  padding: 10px;
}

.sidebar a:hover {
  background: rgb(189, 255, 189);
}

.sidebar.hide {
  width: 0;
}
