@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

@font-face {
  font-family: 'roboto';
  src: url(/assets/fonts/Roboto-Medium.ttf);
}

.material-symbols-outlined {
  vertical-align: middle;
}

:root {
  --primary: #27ae60;
  --secondary: #95a5a6;
  --info: #3498db;
  --danger: #e74c3c;
  --warn: #f39c12;
  --light: #ecf0f1;
  --dark: #34495e;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.mt-0 {
  margin-top: 0;
}

.none {
  display: none;
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 250px;
  height: auto;
  background-color: #81ecec;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

label {
  font-family: 'roboto';
}

input {
  margin-bottom: 10px;
  padding: 5px 10px;
}

button {
  font-size: 24px;
  cursor: pointer;
}

.form-with-eye {
  position: relative;
  display: flex;
}

.form-with-eye input {
  flex-grow: 1;
}

.form-with-eye .material-symbols-outlined {
  position: absolute;
  right: 10px;
  top: 3px;
  cursor: pointer;
  user-select: none;
}

nav {
  width: 100vw;
  height: 48px;
  background-color: var(--info);
  display: flex;
}

nav a {
  color: var(--light);
  padding: 14.5px 10px;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}

nav a:hover {
  color: var(--dark);
  background-color: var(--secondary);
}

nav a.active {
  background-color: var(--primary);
  color: var(--dark);
}

nav {
  display: flex;
}

.dropdown-menu {
  position: relative;
}

.dropdown-content {
  position: absolute;
  flex-direction: column;
  background-color: aliceblue;
  display: none;
}

.dropdown-menu:hover .dropdown-content {
  display: flex;
}

.dropdown-item {
  color: #000000;
}